/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
  font-size: 4em;
}

ul {
	list-style: none;
}

main {
	text-align: center;
}

#header {
	text-align: center;
}

.toggleAll {

}